/* style.css */

/* Definição da Paleta de Cores */
:root {
    --black: #07020dff;
    --fire-engine-red: #c42021ff;
    --celadon: #98dfafff;
    --periwinkle: #c6c8eeff;
    --glaucous: #7272abff;
}

/* Cores de Fundo */
.bg-fire-engine-red {
    background-color: var(--fire-engine-red);
}
.bg-celadon {
    background-color: var(--celadon);
}
.bg-periwinkle {
    background-color: var(--periwinkle);
}
.bg-glaucous {
    background-color: var(--glaucous);
}

/* Cores de Texto */
.text-glaucous {
    color: var(--glaucous);
}
.text-black {
    color: var(--black);
}

/* Botões */
.btn-danger {
    background-color: var(--fire-engine-red);
}
.btn-danger:hover {
    background-color: #a71d1e;
}
.btn-success, .btn-ok {
    background-color: #22c55e;
}
.btn-success:hover, .btn-ok:hover {
    background-color: #16a34a;
}

/* Estilização dos Formulários */
form label {
    font-weight: 500;
    color: var(--glaucous);
}
form input, form select {
    border-radius: 0.375rem;
    border-color: var(--glaucous);
    padding: 0.5rem;
}

/* Estilização das Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #e5e7eb;
}
th {
    background-color: var(--periwinkle);
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilização dos Links */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
